<div>
  <div class="jumbotron">
    <h1>
      MEAN Application
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique quam turpis, nec pretium sem scelerisque ut. Maecenas scelerisque luctus odio et rhoncus. Mauris pretium neque laoreet dictum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum egestas rhoncus. Nam ac enim leo. Curabitur et augue id neque lacinia cursus bibendum tempor libero. Fusce est elit, egestas vitae dapibus eget, finibus at sapien. Sed vestibulum ex at orci malesuada, facilisis vehicula nunc varius. Proin aliquet rhoncus pretium. In at nulla vulputate, volutpat urna vel, interdum enim. Fusce commodo erat risus, et convallis velit dictum posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
    </p>
    
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>
        Getting Started
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique quam turpis, nec pretium sem scelerisque ut. Maecenas scelerisque luctus odio et rhoncus. Mauris pretium neque laoreet dictum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum egestas rhoncus. Nam ac enim leo. Curabitur et augue id neque lacinia cursus bibendum tempor libero. Fusce est elit, egestas vitae dapibus eget, finibus at sapien. Sed vestibulum ex at orci malesuada, facilisis vehicula nunc varius. Proin aliquet rhoncus pretium. In at nulla vulputate, volutpat urna vel, interdum enim. Fusce commodo erat risus, et convallis velit dictum posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      </p>
      <p>
        <a class="btn btn-default" href="http://diyswim.net">Learning more &requo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Get more libraries
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique quam turpis, nec pretium sem scelerisque ut. Maecenas scelerisque luctus odio et rhoncus. Mauris pretium neque laoreet dictum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum egestas rhoncus. Nam ac enim leo. Curabitur et augue id neque lacinia cursus bibendum tempor libero. Fusce est elit, egestas vitae dapibus eget, finibus at sapien. Sed vestibulum ex at orci malesuada, facilisis vehicula nunc varius. Proin aliquet rhoncus pretium. In at nulla vulputate, volutpat urna vel, interdum enim. Fusce commodo erat risus, et convallis velit dictum posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      </p>
      <p>
        <a class="btn btn-default" href="http://diyswim.net">Learning more &requo;</a>
      </p>
    </div>
     <div class="col-md-4">
      <h2>
        Web Hosting
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique quam turpis, nec pretium sem scelerisque ut. Maecenas scelerisque luctus odio et rhoncus. Mauris pretium neque laoreet dictum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum egestas rhoncus. Nam ac enim leo. Curabitur et augue id neque lacinia cursus bibendum tempor libero. Fusce est elit, egestas vitae dapibus eget, finibus at sapien. Sed vestibulum ex at orci malesuada, facilisis vehicula nunc varius. Proin aliquet rhoncus pretium. In at nulla vulputate, volutpat urna vel, interdum enim. Fusce commodo erat risus, et convallis velit dictum posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      </p>
      <p>
        <a class="btn btn-default" href="http://diyswim.net">Learning more &requo;</a>
      </p>
    </div>
  </div>
</div>